body{
    background-color: #9e57ef;
    height: 100%;
}

form{
    width: 28%;
    margin: auto;
    padding-top: 150px;
    
}
.bg{
    background-color: #d8b1f4;
}
.btn-color{
    background-color: #7111df;
    border: none;
}